doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Local Weather
    // bower:css
    // endbower
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body
    .container.text-center
      .jumbotron
        h1#city
        .lead 21 째 C
        .lead.text-muted Sunny
      .row
        .col-md-4
          .jumbotron
            h3 Wednesday
            .lead 21 째 C
            .lead.text-muted Sunny
        .col-md-4
          .jumbotron
            h3 Thurday
            .lead 21 째 C
            .lead.text-muted Cloudy
        .col-md-4
          .jumbotron
            h3 Friday
            .lead 21 째 C
            .lead.text-muted Rainy
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='js/app.js')
