doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Local Weather
    // bower:css
    // endbower
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body
    .container.text-center
      #today.jumbotron
        h1#city &nbsp;
        .temperature.lead &nbsp;
        .weather.lead.text-muted &nbsp;
      #week.row
        - for(var i = 0; i < 3; i++)
          .col-md-4
            .jumbotron
              h3 &nbsp;
              .temperature.lead &nbsp;
              .weather.lead.text-muted &nbsp;
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='js/app.js')
